/* common sheared styles */
body{
    font-family: "Poppins", serif;
    font-style: normal;
  }
.btn-primary{
    color: #ffffff;
    background-color: #21B573;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: none;
}
.description-color{
    color: #6C6B6B;
}


/* header styles */
header{
    background-color: #F0FFF0;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
nav img{
    width: 200px;
    height: 60px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}

/* header column styles */
.header-banner{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}
.question{
    color: #FD511A;
}
.banner-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.schedule{
    color: #21B573;
}
